<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{ data.identity.title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            display: grid;
            color: #3b3b34;
            background-color: #fff;
            font-family: Source-Serif-Pro, serif;

            grid-template-areas: "header" "main" "footer";
            grid-template-rows: min-content auto min-content;
            grid-template-columns: 100%;

            margin: 0;
            padding: 0;
            height: 100vh;
        }

        h1, h2, h3, h4 {
            font-family: Barlow-Semi-Condensed, sans-serif;
        }

        a {
            color: #84024d;
            text-decoration: none;
        }

        p {
            margin: 0 0 0.5rem;
        }

        header {
            grid-area: header;
            display: grid;
            grid-template-areas: ". content .";
            grid-template-columns: 10% 1fr 10%;

            background-color: #3b3b34;
            color: #fff;


        }
        .header-content {
            grid-area: content;
            padding: 1rem 0;
        }

        main {
            display: grid;
            grid-template-areas: ". meta items .";
            grid-template-columns: 10% 1fr 2fr 10%;

            grid-area: main;
            padding: 1rem 0;
        }

        @media (max-width: 1024px) {
            main {
                grid-template-areas: ". meta ." ". items .";
                grid-template-columns: 10% 1fr 10%;
                grid-template-rows: min-content auto;
                grid-gap: 1rem 0;
            }
        }

        #metadata {
            grid-area: meta;
        }

        #items {
            grid-area: items;
            margin: 0;
            padding: 0;
        }

        #footer {
            grid-area: footer;
            display: grid;
            grid-template-areas: ". content .";
            grid-template-columns: 10% 1fr 10%;

            padding: 1rem 0;
            font-size: 0.9rem;
            color: #333;
            background-color: #dad7be;
        }
        .footer-content {
            grid-area: content;

        }
        #viewer {
            position: relative;
            height: 100%;
            box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>{{ data.identity.title }}</h1>
        </div>
    </header>

    <main>
        <aside id="metadata">
            <address>
                {{ data.contact.holder }}
                <br/>
                {{ data.contact.street }}
                <br/>
                {{ data.contact.postcode }}
            </address>

            {% if data.description.biog %}
                <h2>Biographical History</h2>
                <p class="biographical-history">
                    {{ data.description.biog }}
                </p>
            {% endif %}
            {% if data.description.scope %}
                <h2>The Collection</h2>
                <p class="scope-and-content">
                    {{ data.description.scope }}
                </p>
            {% endif %}

            <h2>Download as XML</h2>
            <a href="{{ name }}.xml" target="_blank">EAD 2002</a>
        </aside>

        <section id="items">
            <div id="viewer"></div>
        </section>
    </main>

    <footer id="footer">
        <div class="footer-content">
            &copy; EHRI Project 2023
        </div>
    </footer>

    <script>
      let manifest = document.location.origin + "/{{ name }}.json";

      Mirador.viewer({
        id: "viewer",
        workspace: {
          type: 'mosaic',
        },
        workspaceControlPanel: {
          enabled: false
        },
        windows: [{
          manifestId: manifest,
          //view: 'gallery',
          loadedManifest: manifest,
          canvasIndex: 0,
          thumbnailNavigationPosition: 'far-bottom',
        }],
        window: {
          allowClose: false, // Prevent the user from closing this window
          allowMaximize: false,
          defaultSideBarPanel: 'info',
          sideBarOpenByDefault: true,
          views: [ // Only allow the user to select single and gallery view
            { key: 'single' },
            { key: 'gallery' },
          ]
        },
        themes: {
          dark: {
            palette: {
              type: 'dark',
              primary: {
                main: '#84004c',
              },
            },
          },
          light: {
            palette: {
              type: 'light',
              primary: {
                main: '#84004c',
              },
            },
          },
        },
      });
    </script>
</body>
</html>