<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{ ead.identity.title }}</title>

    <style>
        body {
            display: grid;
            color: #3d3d36;
            background-color: #ffffff;
            font-family: sans-serif;

            grid-template-areas: ". header ." ". main .";
            grid-template-columns: 20% 1fr 20%;
            margin: 0;
            padding: 0 0 5rem;
        }

        h1, h2, h3, h4 {
            font-family: serif;
        }

        a {
            color: #84024d;
            text-decoration: none;
        }

        p {
            margin: 0 0 0.5rem;
        }

        header {
            grid-area: header;
        }
        main {
            grid-area: main;
        }


        .items {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(auto-fill, 24rem);

            margin: 0;
            padding: 0;
        }
        .item {
            display: grid;
            grid-gap: 1rem;
            grid-template-areas: "image title" "image description";
            grid-template-rows: min-content 1fr;
            grid-template-columns: min-content 1fr;
        }
        .item-image {
            grid-area: image;
        }
        .item-image img {
            width: 10rem;
            height: auto;
        }
        .item-title {
            grid-area: title;
        }
        .item-title h3 {
            margin: 0;
        }
        .item-description {
            grid-area: description;
        }
    </style>
</head>
<body>
    <header>
        <h1>{{ ead.identity.title }}</h1>
    </header>

    <main>
        <article>
            <aside class="metadata">
                <address>
                    {{ ead.contact.holder }}
                    <br/>
                    {{ ead.contact.street }}
                    <br/>
                    {{ ead.contact.postcode }}
                </address>
            </aside>

            {% if ead.description.biog %}
            <h2>Biographical History</h2>
            <p class="biographical-history">
                {{ ead.description.biog }}
            </p>
            {% endif %}
            {% if ead.description.scope %}
            <h2>The Collection</h2>
            <p class="scope-and-content">
                {{ ead.description.scope }}
            </p>
            {% endif %}
        </article>

        <section id="export">
            <h2>Download as XML</h2>
            <a href="{{ name }}.xml" target="_blank">EAD 2002</a>
        </section>

        <section id="items">
            <h2>Browse</h2>
            <iframe id="mirador-embed" src="items.html" width="100%" height="600px" loading="eager"></iframe>
        </section>
    </main>
</body>
</html>